<h1>Listing users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Friend</th>
    <th></th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td><%= "Follow Button" if current_user != user %> </td>
      <td><%= link_to 'Show', user %></td>
    </tr>
  <% end %>
</table>
