<% provide :page_title, raw("#{@user.username}'s Playlists") %>

<h1><%= "#{@user.username}'s" %> Playlists</h1>
<div id="allow_button">
<%= render 'allow_button', user: @user %>
</div>
<ul>
  <% @user.playlists.each do |playlist| %>
    <%= render 'playlists/playlist_index_item', playlist: playlist if can? :view, playlist %>
  <% end %>
</ul>
