<div id="player"> </div>
<div class="videoAttributes">
  <div class="videoAttributesBox">
    <div class="titleBox">
      <h4 class="videoName"> <%= playlist.videos.first.name if defined? playlist.videos.first %> </h4>
    </div>

    <div class="description">
      <%-#whitespace is significant for this div because of styling css %>
      <div class="descriptionBox"><%= playlist.videos.first.description.chomp if defined? playlist.videos.first %>
      </div>
    </div>
  </div>
  <button class="btn btn-small" id="showhide">Show more</button>
</div>

<script defer>
  <% if defined? playlist %>
    idList = <%= raw playlist.videos.pluck(:youtube_id).to_json %>;
  <% end %>
</script>
