
      <footer>
      <span id="footnote">
        Created by Billy Lam
      </span>
      <nav>
      <ul>
        <li><%= link_to "About",   'https://github.com/billylam/yt-playlisterapp#playlister' %></li>
        <li><%= link_to "Contact", 'http://www.linkedin.com/profile/view?id=77166722' %></li>
        <li><%= link_to "Blog", 'http://billyl99.blogspot.com/', id:"blogLink"  %></li>
      </ul>
      </nav>
      </footer>
