<header class="navbar navbar-inverse">
<div class="navbar-inner">
  <div class="container">
    <%= link_to image_tag("logo.png", alt: "logo"), root_path, id: "imagelogo" %>
    <%= link_to "playlist.org", root_path, id: "textlogo" %>
    <nav>
    <ul class="nav", id="rightnav">
      <li><%= link_to "Playlists", playlists_path %></li>
      <li><%= link_to "Videos", videos_path %></li>
    </ul>
  </div>
</div>
</header>
