@import "bootstrap";

body {
}

input[type=text], input[type=password] {
  margin-bottom: 0;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  padding-bottom: 5px;
}

.debug_dump {
  margin:40px;
}

/* errors */

