@import "bootstrap";

body {
  padding-top: 60px;

}

#rightlogo {
  float: right;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  padding-top: 9px;
  line-height: 1;
}

#logo:hover {
  text-decoration: none;
}

