@import "bootstrap";

body {
}

input[type=text] {
  margin-bottom: 0;
}

ul {
  list-style-type: none;
}
ul, li {
  margin: 0;
  padding: 0;
}
li {
  padding-bottom: 5px;
}

.debug_dump {
  margin:40px;
}
