/* header */
.navbar {
}

#rightnav {
  float: right;
  padding-right:0;
  margin-right:0;
}

#rightnav a {
  padding-right:0;
}

#newListButton {
  color: maroon;
  &:hover {
    color: white;
  }
}

#topContainer {
}

#textlogo {
  font-family: "Impact", sans-serif;
  float: left;
  margin-right: 10px;
  margin-left: 5px;
  font-size: 1.7em;
  padding-top: 9px;
  line-height: 1;
  color: maroon;
  text-decoration: none;
}

#imagelogo {
  float: left;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

#blogLink {
  margin-right: 20px;
}

footer a:hover { 
  color: #222;
}

#footnote {
  float: left;
  margin-left: 20px;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}
