// Place all the styles related to the Playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#playlist {
  padding:0;
  margin:0;
  height:470px;
  overflow-y:scroll;
}

.playlistItem{
  // 91 pixels = thumbnail height
  height:91px;
  margin-bottom:10px;
}

.playlistThumb{
  float:left;
  margin-right:5px;
}

.playlistText {
  height:77px;
  overflow-y:hidden;
}
