// Place all the styles related to the Playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#playlist {
  padding:0;
  margin:0;
}

.playlistText{
  display:block;
  max-height:77px;
  overflow:hidden;
}

.playlistItem{
  float:left;
  margin-bottom:5px;
  max-height: 91px;
}

.playlistThumb{
  float:left;
  margin-right:5px;
}
