<% playlist.videos.each_with_index do |video,position| %>
  <% unless video.name.nil? #without this, an empty li is appended, investigate why %>
    <div class="playlistItem">
      <li>
      <%= image_tag(get_thumbnail_for(video.youtube_id), class:"playlistThumb",  data: {position:position, name:video.name}) if video.id %>
      <p class="playlistText"> <%= video.name %> </p>
      </li>
    </div>
  <% end %>
<% end %>
