<% provide :page_title, "All playlists" %>

<h1>Playlists</h1>

<ul>
  <% @playlists.each do |playlist| %>
    <%= render 'shared/playlist_thumb', playlist: playlist %>
  <% end %>
</ul>

<%= link_to 'New Playlist', new_playlist_path %>
