<% provide :page_title, "Public Playlists" %>

<h1>Public Playlists</h1>
<ul>
  <% Playlist.all.each do |playlist| %>
    <%= render 'playlist_index_item', playlist: playlist unless playlist.private %>
  <% end %>
</ul>

